<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Flexibl</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">help</a>
  </li>
</ul>
  <div class="google-data-studio">
<iframe width="500" height="900" src="https://datastudio.google.com/embed/reporting/fad64a1f-2c11-4cc7-a025-77c14a744732/page/kCJlC" 
frameborder="0" 
style="border:0" allowfullscreen></iframe>
</div>
