<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Flexibl</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">help</a>
  </li>
</ul>
  <div class="google-data-studio">
<iframe width="500" height="900" src="https://datastudio.google.com/embed/reporting/1e608e91-7584-4522-bb3b-186f8d9c43a5/page/qjClC" 
frameborder="0" 
style="border:0" allowfullscreen></iframe>
</div>
